{% extends 'playground/base.html' %}
{% load static %}

{% block content %}
    <div class="page-header">
        <h1>
            <a href="{% url 'character_detail' id_character=character.id_character %}">{{ character.id_character }}</a>
        </h1>
        <form method="POST" class="post-form">{% csrf_token %}
            <b> Changer : </b> {{ form.as_ul }}
            <button type="submit" class="btn btn-outline-light">OK</button>
            <a href="{% url 'character_list' %}">Back</a>
        </form>
    </div>
{% endblock %}