{% extends 'playground/base.html' %}
{% load static %}

{% block content %}
{% if message %}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{% endif %}
    <div class="container">
        <h1>
            <a class="character-title" href="{% url 'character_detail' id_character=character.id_character %}">{{ character.id_character }}</a>
        </h1>
        <div class="row content">
            <div class="col-lg-2">
                <img class="container-photo detail" src="{% get_static_prefix %}{{character.photo}}" alt={{character.id_character}}>
            </div>
            <div class="col-lg-2">
                <a href="{% url 'equipement_detail' id_equip=character.equipement.id_equip%}">
                    <img class="container-photo detail" src="{% get_static_prefix %}{{equipement.photo}}" alt={{character.equipement.id_equip}}>
                </a>
            </div>
            <div class="col-lg-2">
                <img class="container-photo-lieu" src="{% get_static_prefix %}{{lieu.photo}}" alt={{character.lieu.id_lieu}}>
            </div>
            <div class="row ligne">
                <div class="col-lg-2 character-infos">
                    <h2> Infos : </h2>
                    <p><b> Nom :</b> {{character.id_character}} </p>
                    <p><b> Race :</b> {{character.race}} </p>
                    <p><b> Etat :</b> {{character.etat}} </p>
                    <p><b> Equipement :</b> {{character.equipement.id_equip}} </p>
                    <p><b> Lieu :</b> {{character.lieu.id_lieu}} </p>
                </div>
                <div class="col-lg-2 character-infos">
                    <h2> Modifier : </h2>
                    <form method="POST" class="post-form">{% csrf_token %}
                        <b class="intro-form"> Changer : </b> {{ equip_form.as_ul }}
                        <button type="submit" class="btn-form">OK</button>
                    </form>
                    <form method="POST" class="post-form">{% csrf_token %}
                        <b class="intro-form"> Changer : </b> {{ lieu_form.as_ul }}
                        <button type="submit" class="btn-form">OK</button>
                    </form>
                </div>
            </div>
            <div class="character-infos">
                <h2> Description : </h2>
                <p class="description-text"> {{character.description}} </p>
            </div>
            <a class="btn-form" href="{% url 'character_list' %}">Retour à la page d'accueil</a>
        </div>
    </div>
{% endblock %}