{% extends 'playground/base.html' %}
{% load static %}



{% block content %}
{% if message %}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{% endif %}
    <div class="container">
        <h1>
            <a class="character-title" href="{% url 'character_detail' id_character=character.id_character %}">{{ character.id_character }}</a>
        </h1>
        <div class="row content">
            <div class="col-lg-2 col-md-6">
                <img class="container-photo" src="{% get_static_prefix %}{{character.photo}}" alt={{character.id_character}}>
            </div>
            <div class="col-lg-2 col-md-6">
                <img class="container-photo" src="{% get_static_prefix %}{{character.equipement.photo}}" alt={{character.equipement.id_equip}}>
            </div>
        </div>
        <form method="POST" class="post-form">{% csrf_token %}
            <b class="intro-form"> Changer : </b> {{ form.as_ul }}
            <button type="submit" class="btn-form">OK</button>
            <a class="btn-form" href="{% url 'character_list' %}">Back</a>
        </form>
    </div>
{% endblock %}